@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  background-color: rgb(16, 151, 144);
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
}

.nav-logo {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 120%;
  height: 80px;
}
.border {
  border: 1px solid transparent;
  height: 100%;
  display: grid;
  place-items: center;
}

.border:hover {
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
}
.add-first {
  font-size: 13.6px;
  color: #ffffff;
  margin-left: 3px;
}

.add-second {
  font-size: 16px;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(16, 151, 144);
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: rgb(252, 148, 87);
  text-align: center;
  border: none;
  outline: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 92px;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  text-indent: 10px;
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
}

.search-icon {
  width: 45px;
  background-color: rgb(252, 148, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #ffffff;
}

span {
  font-size: 12px;
}

.nav-second {
  font-size: 14px;
  font-weight: 700;
}

.nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}
.nav-cart i {
  font-size: 40px;
  font-style: normal;
}

.panel {
  background-color: #ffa127;
  color: #1b3528;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
.panel-ops {
  width: 70%;
  font-size: 14px;
}
.panel-ops p {
  display: inline-flex;
  height: 40px;
  padding: 0 3px;
  margin-left: 15px;
}

.panel-deals {
  padding: 0 3px;
  font-size: 14px;
  font-weight: 700;
}

.hero-section {
  background-image: url("./images/box800_image.jpg.jpg.jpg");
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero-msg {
  background-color: rgb(253, 127, 169);
  width: 750%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
  padding: 25px 15px;
  border-radius: 50%;
  color: #fff;
  font-style: initial;
  text-transform: lowercase;
}
.hero-msg a {
  color: #fafafa;
  text-decoration: none;
  margin-left: 3px;
  font-style: normal;
  padding: 0;
}

.shop-section {
  background-color: #f5f1ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box {
  height: 490px;
  width: 25%;
  padding: 20px 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  border-radius: 1px 100px;
  margin: 30px;
  text-align: center;
}
.box-img {
  height: 350px;
  width: auto;
  background-size: cover;
  margin: 16px 0;
}

.box-content {
  margin-left: 16px;
  margin-right: 16px;
  color: rgb(0, 0, 0);
  border-radius: 100% 100%;
  letter-spacing: 14px;
}

.box-content a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: normal;
}

.container {
  background-color: #f5f1ec;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
}
.title a {
  text-decoration: none;
  color: #030303;
}
.title a:hover {
  text-decoration: underline;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 100px 0;
  gap: 100px;
}
.box1 {
  height: 450px;
  padding: 80px 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px 250px;
}
.img img {
  width: 100%;
  height: 250px;
}

.box1-content {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 80px;
}
.box1-content p {
  color: rgb(0, 0, 0);
  font-size: 12px;
  white-space: nowrap;
}
.box1-content p span {
  background-color: rgb(255, 254, 254);
  color: #000000;
  margin-right: 6px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
}

/* Footer Alanı */
.foot-panel-1 {
  background-color: rgb(252, 148, 87);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s;
}
.foot-panel-1 a {
  color: #000000;
  text-decoration: none;
}

.foot-panel-1:hover {
  opacity: 0.9;
  cursor: pointer;
}

.foot-panel-2 {
  background-color: rgb(16, 151, 144);
  color: #080808;
  height: 290px;
  display: flex;
  justify-content: space-evenly;
}
.foot-panel-2 ul {
  margin-top: 20px;
}
.foot-panel-2 ul li {
  list-style: none;
}
.foot-panel-2 ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 15px;
  margin-top: 10px;
  transition: all 0.3s;
}
.foot-panel-2 ul li a:hover {
  color: #fabd68;
}
